# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres

# Kafka / Redpanda
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
APP_KAFKA_AUDIT_TOPIC=hr-payroll-audit
SPRING_KAFKA_CONSUMER_GROUP_ID=hr-audit-consumers

# Elasticsearch
APP_ELASTICSEARCH_URL=http://localhost:9200
